
:root {
    --verdigris-50: #d9f7ff;
    --verdigris-100: #adeffe;
    --verdigris-200: #80e9fc;
    --verdigris-300: #51e6fb;
    --verdigris-400: #2be6fa;
    --verdigris-500: #1ad4e0;
    --verdigris-600: #04aaae;
    --verdigris-700: #00717c;
    --verdigris-800: #00404c;
    --verdigris-900: #00141c;


    --yellowgreen-50: #f8fedd;
    --yellowgreen-100: #edfbb2;
    --yellowgreen-200: #e3f785;
    --yellowgreen-300: #d8f456;
    --yellowgreen-400: #ccf028;
    --yellowgreen-500: #b3d70f;
    --yellowgreen-600: #8ba706;
    --yellowgreen-700: #627702;
    --yellowgreen-800: #3b4800;
    --yellowgreen-900: #131900;
  }