<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mask"></div>
  <div class="top-bloc">
    <ion-img [src]="logo"></ion-img>
  </div>

  <div id="container">

    <div class="bottom-bloc">
      <h1>{{appGlobal.greetings}}</h1>
      <div> <span (click)="switchOperation()" [class]="login ? 'selected':'no-selected'">J'ai déjà un compte</span> / <span
          [class]="signup ? 'selected':'no-selected'"  (click)="switchOperation()">Je crée un compte</span> </div>
    </div>
    
    <form (ngSubmit)="onSubmit('login')" [@inOutAnimation] [formGroup]="loginForm" *ngIf="login">
      
      <div class="form-field">
      <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
      </div>
      <br>
      <div class="form-field">
      <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
      </div>
      <br>
      <ion-row>
        <ion-col>
          <ion-button type="submit" shape="round" color="junglegreen" expand="block" [disabled]="!loginForm.valid"
            >Se Connecter</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    
    <form (ngSubmit)="onSubmit('signup')" [@inOutAnimation] [formGroup]="signupForm" *ngIf="signup">
      
      <div class="form-field">
        <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
      </div>
      <br>
      <div class="form-field">
        <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
      </div>
      <br>
      <div class="form-field">
        <ion-input formControlName="phone" type="text" placeholder="Numéro Téléphone"></ion-input>
      </div>
      <br>
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="junglegreen" type="submit" expand="block" [disabled]="!signupForm.valid"
            >Créer un compte</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
    <div class="ion-padding ion-text-center" (click)="skip()">Skip Demo</div>
  </div>

</ion-content>
